<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="rest api free">
    <meta name="author" content="ArifzynXD">
    <meta property="og:image" content="https://telegra.ph/file/a490ba54dd4501521e41a.jpg">
    <title>ArifzynXD-Api</title>
    <script src="https://kit.fontawesome.com/5367cb78eb.js" crossorigin="anonymous"></script>
    <link rel="shortcut icon" href="https://telegra.ph/file/a490ba54dd4501521e41a.jpg"> 
    <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="css/default.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">
  </head>
  <body id="page-top" class="dark-mode">
    <div id="wrapper">
      <ul class="navbar-nav sidebar sidebar-light accordion" id="accordionSidebar"><a class="sidebar-brand d-flex align-items-center justify-content-center" href="/docs"> <img src="https://telegra.ph/file/a490ba54dd4501521e41a.jpg" class="rounded-circle shadow-4" style="width: 50px;" alt="Avatar"> 
          <div class="sidebar-brand-text mx-3">
            ArifzynXD Api
          </div> </a>
        <hr class="sidebar-divider my-0">
        <li class="nav-item active"><a class="nav-link" href="/statistic"> <i class="fas fa-fw fa-thermometer-three-quarters"></i> <span>Statistic</span></a></li>
        <hr class="sidebar-divider">
        <div class="sidebar-heading">
           Features 
        </div>
        <li class="nav-item"><a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseDownload" aria-expanded="true" aria-controls="collapseBootstrap"> <i class="fa fa-fw fa-arrow-down"></i> <span>My Fiture</span> </a>
          <div id="collapseDownload" class="collapse" aria-labelledby="headingBootstrap" data-parent="#accordionSidebar">
            <div class="py-2 collapse-inner rounded">
              <h6 class="collapse-header">List My Features</h6>
                <a class="collapse-item" href="api/kiryuu/search?text=tonikaku%20kawaii" target="_blank">Kiryuu Search</a>
                <a class="collapse-item" href="api/kiryuu/detail?url=https://kiryuu.id/manga/tonikaku-kawaii/" target="_blank">Kiryu Detail</a>
                <a class="collapse-item" href="api/kusonime/search?text=Otonari%20no%20Tenshi-sama" target="_blank">Kusonime Search</a>
                <a class="collapse-item" href="api/kusonime/detail?url=https://kusonime.com/otonari-tenshisama-batch-subtitle-indonesia-3/" target="_blank">Kusonime Detail</a>
                <a class="collapse-item" href="api/mangatoon/search?text=Otonari%20no%20Tenshi-sama" target="_blank">Mangatoon Search</a>
                <a class="collapse-item" href="api/mangatoon/detail?url=https://mangatoon.mobi/id/internet/5481" target="_blank">Mangatoon Detail</a>
            </div>
          </div>
        </li>
      </ul>
      <div id="content-wrapper" class="d-flex flex-column">
        <div id="content">
          <nav class="navbar navbar-expand navbar-light bg-navbar topbar mb-4 static-top"><button id="sidebarToggleTop" class="btn btn-link rounded-circle mr-3"> <i class="fa fa-bars"></i> </button>
            <ul class="navbar-nav ml-auto">
              <li class="nav-item dropdown no-arrow"><a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <img src="https://telegra.ph/file/69e1b7e9ea7b405edc5d5.jpg" class="rounded-circle shadow-4" style="width: 50px;" alt="Avatar"> <span class="ml-2 d-none d-lg-inline small font-weight-bold">KazeDevID</span> </a></li>
            </ul>
          </nav>
          <div class="container-fluid" id="container-wrapper">
            <div class="card h-50 mb-4">
              <div class="card-body">
                <div class="row align-items-center">
                  <div class="col mr-2">
                    <div class="text-md-left font-weight-bold mb-2 text-primary">
                      ArifzynXD - APIs
                    </div>
                    <div class="text-sm-left mb-0 font-weight-bold">
                      Hai, welcome to my rest api.
                    </div>
                  </div>
                  <div class="col-auto"><i class="fas fa-quote-right fa-2x text-primary"></i>
                  </div>
                </div>
              </div>
            </div>
            <div class="row mb-3">
              <div class="col-xl-3 col-md-6 mb-4">
                <div class="card h-50">
                  <div class="card-body">
                    <div class="row align-items-center">
                      <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-uppercase mb-1">
                          Visitor
                        </div>
                        <div class="h5 mb-0 font-weight-bold" id="visitor">
                          0
                        </div>
                      </div>
                      <div class="col-auto"><i class="fas fa-eye fa-2x text-primary"></i>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-xl-3 col-md-6 mb-4">
                <div class="card h-50">
                  <div class="card-body">
                    <div class="row no-gutters align-items-center">
                      <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-uppercase mb-1">
                          Battery
                        </div><span id="battery_level" class="h5 mb-0 font-weight-bold">Waiting... </span>
                      </div>
                      <div class="col-auto"><i class="fa fa-battery-full"></i>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-xl-3 col-md-6 mb-4">
                <div class="card h-50">
                  <div class="card-body">
                    <div class="row no-gutters align-items-center">
                      <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-uppercase mb-1">
                          hari kemerdekaan RI
                        </div>
                        <div class="h5 mb-0 font-weight-bold" id="jadwaltime">
                          Waiting... 
                        </div>
                      </div>
                      <div class="col-auto"><i class="fas fa-calendar fa-2x text-primary"></i>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-xl-3 col-md-6 mb-4">
                <div class="card h-50">
                  <div class="card-body">
                    <div class="row no-gutters align-items-center">
                      <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-uppercase mb-1">
                          Jam
                        </div>
                        <div class="h5 mb-0 font-weight-bold" id="row-no-guttersalign-items-center">
                          00:00:00
                        </div>
                        <div class="h5 mb-0 font-weight-bold" id="text-xsfont-weight-boldtext-uppercase-mb-1">
                          Selamat Pagi
                        </div>
                      </div>
                      <div class="col-auto"><i class="fas fa-calendar fa-2x text-primary"></i>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div id="findipurl"> <a href="find-ip.net"></a>
            </div>
            <script defer src="https://api.find-ip.net/widget.js?width=220&amp;bg=%23152232&amp;border=%230e1824&amp;textcol=%23d3d5f3&amp;language=0&amp;system=0&amp;"></script>
            <div class="Box mt-4">
              <div class="Box-body p-4">
                <div class="d-flex flex-justify-between">
                  <div class="text-mono text-small mb-3">
                  </div>
                </div>
                <div class="row">
                  <div class="col-lg-12 text-center">
                     Contact Me 
                    <p><a href="http://wa.me/62895347198105" class="btn btn-primary btn-sm mr-2" target="_blank"><i class="fab fa-fw fa-whatsapp"></i>&nbsp;WHATSAPP</a></p>
                  </div>
                </div>
              </div>
            </div>
            <footer class="sticky-footer">
              <div class="container my-auto">
                <div class="copyright text-center my-auto">
                   Made with <i class="fa fa-heart"></i> by <a href="http://github.com/KazeDevID" target="_blank" style="color: rgb(255, 234, 0);">ArifzynXD</a>
                </div>
              </div>
            </footer>
          </div>
        </div><a class="scroll-to-top rounded" href="#page-top"> <i class="fas fa-angle-up"></i> </a>
        <script src="vendor/jquery/jquery.min.js"></script>
        <script src="bootstrap/js/bootstrap.bundle.min.js"></script>
        <script src="vendor/jquery-easing/jquery.easing.min.js"></script>
        <script src="js/ruang-admin.min.js"></script>
        <script src="js/menu.js"></script>
      </div>
    </div>
  </body>
</html>